In [1]:
import requests
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import mysql.connector as connector
import random as rd

In [2]:
URL = "https://ressources.data.sncf.com/api/records/1.0/search/"

params = {
    "dataset" : "frequentation-gares",
    "rows" : "-1",
}

response = requests.get(URL, params = params)

data = response.json()

In [3]:
print(data["records"][0])

{'datasetid': 'frequentation-gares', 'recordid': 'b9d3897abe06503d7292e62d6eccb60b69abda0f', 'fields': {'total_voyageurs_non_voyageurs_2018': 40228, 'total_voyageurs_non_voyageurs_2021': 51811, 'total_voyageurs_non_voyageurs_2015': 39720, 'segmentation_drg': 'c', 'total_voyageurs_2020': 32396, 'total_voyageurs_non_voyageurs_2016': 41096, 'total_voyageurs_2018': 40228, 'totalvoyageurs2017': 43760, 'total_voyageurs_non_voyageurs_2017': 43760, 'total_voyageurs_non_voyageurs_2019': 42685, 'code_uic_complet': '87313759', 'code_postal': '60220', 'total_voyageurs_non_voyageurs_2020': 32396, 'total_voyageurs_2019': 42685, 'total_voyageurs_2021': 51811, 'total_voyageurs_2016': 41096, 'total_voyageurs_2015': 39720, 'nom_gare': 'Abancourt'}, 'record_timestamp': '2022-12-19T08:39:56.935Z'}

In [4]:
list_data = []
response = requests.get(URL, params = params)
data = response.json()
for record in data["records"]:
            list_data.append(record)

In [5]:
list_data[0]

{'datasetid': 'frequentation-gares',
 'recordid': 'b9d3897abe06503d7292e62d6eccb60b69abda0f',
 'fields': {'total_voyageurs_non_voyageurs_2018': 40228,
  'total_voyageurs_non_voyageurs_2021': 51811,
  'total_voyageurs_non_voyageurs_2015': 39720,
  'segmentation_drg': 'c',
  'total_voyageurs_2020': 32396,
  'total_voyageurs_non_voyageurs_2016': 41096,
  'total_voyageurs_2018': 40228,
  'totalvoyageurs2017': 43760,
  'total_voyageurs_non_voyageurs_2017': 43760,
  'total_voyageurs_non_voyageurs_2019': 42685,
  'code_uic_complet': '87313759',
  'code_postal': '60220',
  'total_voyageurs_non_voyageurs_2020': 32396,
  'total_voyageurs_2019': 42685,
  'total_voyageurs_2021': 51811,
  'total_voyageurs_2016': 41096,
  'total_voyageurs_2015': 39720,
  'nom_gare': 'Abancourt'},
 'record_timestamp': '2022-12-19T08:39:56.935Z'}

In [6]:
len(list_data)

2970

In [7]:
frequentation = []

for gare in list_data:
    try:
        frequentation.append(gare["fields"])
    except:
        print('not name')

In [8]:
frequentations = pd.DataFrame(frequentation)

In [9]:
frequentations.drop(['total_voyageurs_non_voyageurs_2015', 'total_voyageurs_2015'], axis=1, inplace=True)

In [10]:
frequentations['region'] = frequentations['code_postal'].apply(lambda x : x[:2])

In [11]:
frequentations['voyageurs_2016'] = frequentations['total_voyageurs_2016']
frequentations.drop(['segmentation_drg', 'total_voyageurs_non_voyageurs_2016', 'total_voyageurs_2016'], axis=1, inplace=True)

frequentations['voyageurs_2017'] = frequentations['totalvoyageurs2017']
frequentations.drop(['total_voyageurs_non_voyageurs_2017', 'totalvoyageurs2017'], axis=1, inplace=True)

frequentations['voyageurs_2018'] = frequentations['total_voyageurs_2018']
frequentations.drop(['total_voyageurs_non_voyageurs_2018', 'total_voyageurs_2018'], axis=1, inplace=True)

frequentations['voyageurs_2019'] = frequentations['total_voyageurs_2019']
frequentations.drop(['total_voyageurs_non_voyageurs_2019', 'total_voyageurs_2019'], axis=1, inplace=True)

frequentations['voyageurs_2020'] = frequentations['total_voyageurs_2020']
frequentations.drop(['total_voyageurs_non_voyageurs_2020', 'total_voyageurs_2020'], axis=1, inplace=True)

frequentations['voyageurs_2021'] = frequentations['total_voyageurs_2021']
frequentations.drop(['total_voyageurs_non_voyageurs_2021', 'total_voyageurs_2021'], axis=1, inplace=True)

frequentations.rename(columns={"code_uic_complet":"id_gare"}, inplace=True)

In [12]:
frequentations['voyageurs_2016'].sum()

2682300333

In [13]:
annees = list(range(2016,2022))
month = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

for annee in annees:
    for mois in month:
        frequentations[f"{annee}_{mois}"] = frequentations[f"voyageurs_{annee}"]

frequentations.drop(['voyageurs_2016', 'voyageurs_2017', 'voyageurs_2018', 'voyageurs_2019', 'voyageurs_2020', 'voyageurs_2021'], axis=1, inplace=True)

frequentations

,id_gare,code_postal,nom_gare,region,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,...,2021_03,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11,2021_12
0,87313759,60220,Abancourt,60,41096,41096,41096,41096,41096,41096,...,51811,51811,51811,51811,51811,51811,51811,51811,51811,51811
1,87381657,78260,Achères Ville,78,3454567,3454567,3454567,3454567,3454567,3454567,...,2450555,2450555,2450555,2450555,2450555,2450555,2450555,2450555,2450555,2450555
2,87781278,34300,Agde,34,660656,660656,660656,660656,660656,660656,...,561160,561160,561160,561160,561160,561160,561160,561160,561160,561160
3,87741421,73610,Aiguebelette-le-Lac,73,3912,3912,3912,3912,3912,3912,...,3658,3658,3658,3658,3658,3658,3658,3658,3658,3658
4,87586693,47190,Aiguillon,47,90187,90187,90187,90187,90187,90187,...,106764,106764,106764,106764,106764,106764,106764,106764,106764,106764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,87473116,22120,Yffiniac,22,39188,39188,39188,39188,39188,39188,...,22024,22024,22024,22024,22024,22024,22024,22024,22024,22024
2966,87671487,40100,Ygos-Saint-Saturnin,40,27292,27292,27292,27292,27292,27292,...,32853,32853,32853,32853,32853,32853,32853,32853,32853,32853
2967,87645101,15130,Ytrac,15,34,34,34,34,34,34,...,37,37,37,37,37,37,37,37,37,37
2968,87191304,57110,Yutz,57,1930,1930,1930,1930,1930,1930,...,873,873,873,873,873,873,873,873,873,873
2969,87413385,76190,Yvetot,76,909234,909234,909234,909234,909234,909234,...,787592,787592,787592,787592,787592,787592,787592,787592,787592,787592

In [14]:
frequentations[frequentations['id_gare'] == "87111849"]

,id_gare,code_postal,nom_gare,region,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,...,2021_03,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11,2021_12
1541,87111849,77111,Marne-la-Vallée Chessy,77,5418784,5418784,5418784,5418784,5418784,5418784,...,3312209,3312209,3312209,3312209,3312209,3312209,3312209,3312209,3312209,3312209

In [16]:
conn = connector.connect(
  host="localhost",
  user="CodeBenji",
  password="Code!12345",
  database="sncf_meteo"
)

df_trains = pd.read_sql("SELECT * FROM Trains", conn)

df_trains.set_index('date', inplace=True)

del df_trains['total_trains']

/tmp/ipykernel_316561/115673067.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_trains = pd.read_sql("SELECT * FROM Trains", conn)

In [17]:
df_trains['norme']["2018_03"]

0.999327791346434

In [18]:
annees = list(range(2016,2022))

for annee in annees:
    for mois in month:
        if annee == 2016 or annee == 2017:
            frequentations[f"{annee}_{mois}"] = frequentations[f"{annee}_{mois}"].apply(lambda x: round(x / 12))
        else:
            frequentations[f"{annee}_{mois}"] = frequentations[f"{annee}_{mois}"].apply(lambda x: round(x * df_trains['norme'][f"{annee}_{mois}"] / 12))

frequentations

,id_gare,code_postal,nom_gare,region,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,...,2021_03,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11,2021_12
0,87313759,60220,Abancourt,60,3425,3425,3425,3425,3425,3425,...,2653,2875,2969,3081,3485,3526,3287,3377,3226,3588
1,87381657,78260,Achères Ville,78,287881,287881,287881,287881,287881,287881,...,125477,135983,140449,145716,164852,166783,155467,159727,152593,169684
2,87781278,34300,Agde,34,55055,55055,55055,55055,55055,55055,...,28733,31139,32162,33368,37750,38192,35601,36576,34943,38856
3,87741421,73610,Aiguebelette-le-Lac,73,326,326,326,326,326,326,...,187,203,210,218,246,249,232,238,228,253
4,87586693,47190,Aiguillon,47,7516,7516,7516,7516,7516,7516,...,5467,5924,6119,6348,7182,7266,6773,6959,6648,7393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,87473116,22120,Yffiniac,22,3266,3266,3266,3266,3266,3266,...,1128,1222,1262,1310,1482,1499,1397,1436,1371,1525
2966,87671487,40100,Ygos-Saint-Saturnin,40,2274,2274,2274,2274,2274,2274,...,1682,1823,1883,1954,2210,2236,2084,2141,2046,2275
2967,87645101,15130,Ytrac,15,3,3,3,3,3,3,...,2,2,2,2,2,3,2,2,2,3
2968,87191304,57110,Yutz,57,161,161,161,161,161,161,...,45,48,50,52,59,59,55,57,54,60
2969,87413385,76190,Yvetot,76,75770,75770,75770,75770,75770,75770,...,40328,43704,45139,46832,52982,53603,49966,51335,49043,54535

In [25]:
nb = 0
for annee in annees:
    for mois in month:
        if annee == 2016 or annee == 2017:
            nb += frequentations[f"{annee}_{mois}"][frequentations['id_gare'] == "87111849"]
nb

1541    11428056
Name: 2016_01, dtype: int64

In [21]:
frequentations.to_csv("frequentation_mensuel.csv", index=False)

In [22]:
username = "CodeBenji"
mdp = "Code!12345"
db="sncf_meteo"

engine = create_engine(f"mysql+mysqlconnector://{username}:{mdp}@localhost/{db}", echo=True)

In [23]:
frequentations.to_sql(name='Frequentations', con=engine, if_exists = 'replace', index=False)

2022-12-22 18:07:16,218 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-22 18:07:16,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 18:07:16,222 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-22 18:07:16,223 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 18:07:16,225 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-22 18:07:16,226 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 18:07:16,229 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-22 18:07:16,229 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {'table_schema': 'sncf_meteo', 'table_name': 'Frequentations'}
2022-12-22 18:07:16,233 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-12-22 18:07:16,233 INFO sqlalchemy.engine.Engine [cached since 0.005007s ago] {'table_schema': 'sncf_meteo', 'table_name': 'Frequentations'}
2022-12-22 18:07:16,236 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `sncf_meteo`
2022-12-22 18:07:16,238 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 18:07:16,250 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `Frequentations`
2022-12-22 18:07:16,251 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-12-22 18:07:16,259 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-22 18:07:16,261 INFO sqlalchemy.engine.Engine
DROP TABLE `Frequentations`
2022-12-22 18:07:16,262 INFO sqlalchemy.engine.Engine [no key 0.00098s] {}
2022-12-22 18:07:16,289 INFO sqlalchemy.engine.Engine COMMIT
2022-12-22 18:07:16,295 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-22 18:07:16,301 INFO sqlalchemy.engine.Engine
CREATE TABLE `Frequentations` (
	id_gare TEXT,
	code_postal TEXT,
	nom_gare TEXT,
	region TEXT,
	`2016_01` BIGINT,
	`2016_02` BIGINT,
	`2016_03` BIGINT,
	`2016_04` BIGINT,
	`2016_05` BIGINT,
	`2016_06` BIGINT,
	`2016_07` BIGINT,
	`2016_08` BIGINT,
	`2016_09` BIGINT,
	`2016_10` BIGINT,
	`2016_11` BIGINT,
	`2016_12` BIGINT,
	`2017_01` BIGINT,
	`2017_02` BIGINT,
	`2017_03` BIGINT,
	`2017_04` BIGINT,
	`2017_05` BIGINT,
	`2017_06` BIGINT,
	`2017_07` BIGINT,
	`2017_08` BIGINT,
	`2017_09` BIGINT,
	`2017_10` BIGINT,
	`2017_11` BIGINT,
	`2017_12` BIGINT,
	`2018_01` BIGINT,
	`2018_02` BIGINT,
	`2018_03` BIGINT,
	`2018_04` BIGINT,
	`2018_05` BIGINT,
	`2018_06` BIGINT,
	`2018_07` BIGINT,
	`2018_08` BIGINT,
	`2018_09` BIGINT,
	`2018_10` BIGINT,
	`2018_11` BIGINT,
	`2018_12` BIGINT,
	`2019_01` BIGINT,
	`2019_02` BIGINT,
	`2019_03` BIGINT,
	`2019_04` BIGINT,
	`2019_05` BIGINT,
	`2019_06` BIGINT,
	`2019_07` BIGINT,
	`2019_08` BIGINT,
	`2019_09` BIGINT,
	`2019_10` BIGINT,
	`2019_11` BIGINT,
	`2019_12` BIGINT,
	`2020_01` BIGINT,
	`2020_02` BIGINT,
	`2020_03` BIGINT,
	`2020_04` BIGINT,
	`2020_05` BIGINT,
	`2020_06` BIGINT,
	`2020_07` BIGINT,
	`2020_08` BIGINT,
	`2020_09` BIGINT,
	`2020_10` BIGINT,
	`2020_11` BIGINT,
	`2020_12` BIGINT,
	`2021_01` BIGINT,
	`2021_02` BIGINT,
	`2021_03` BIGINT,
	`2021_04` BIGINT,
	`2021_05` BIGINT,
	`2021_06` BIGINT,
	`2021_07` BIGINT,
	`2021_08` BIGINT,
	`2021_09` BIGINT,
	`2021_10` BIGINT,
	`2021_11` BIGINT,
	`2021_12` BIGINT
)


2022-12-22 18:07:16,302 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2022-12-22 18:07:16,334 INFO sqlalchemy.engine.Engine COMMIT
2022-12-22 18:07:16,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-22 18:07:16,536 INFO sqlalchemy.engine.Engine INSERT INTO `Frequentations` (id_gare, code_postal, nom_gare, region, `2016_01`, `2016_02`, `2016_03`, `2016_04`, `2016_05`, `2016_06`, `2016_07`, `2016_08`, `2016_09`, `2016_10`, `2016_11`, `2016_12`, `2017_01`, `2017_02`, `2017_03`, `2017_04`, `2017_05`, `2017_06`, `2017_07`, `2017_08`, `2017_09`, `2017_10`, `2017_11`, `2017_12`, `2018_01`, `2018_02`, `2018_03`, `2018_04`, `2018_05`, `2018_06`, `2018_07`, `2018_08`, `2018_09`, `2018_10`, `2018_11`, `2018_12`, `2019_01`, `2019_02`, `2019_03`, `2019_04`, `2019_05`, `2019_06`, `2019_07`, `2019_08`, `2019_09`, `2019_10`, `2019_11`, `2019_12`, `2020_01`, `2020_02`, `2020_03`, `2020_04`, `2020_05`, `2020_06`, `2020_07`, `2020_08`, `2020_09`, `2020_10`, `2020_11`, `2020_12`, `2021_01`, `2021_02`, `2021_03`, `2021_04`, `2021_05`, `2021_06`, `2021_07`, `2021_08`, `2021_09`, `2021_10`, `2021_11`, `2021_12`) VALUES (%(id_gare)s, %(code_postal)s, %(nom_gare)s, %(region)s, %(2016_01)s, %(2016_02)s, %(2016_03)s, %(2016_04)s, %(2016_05)s, %(2016_06)s, %(2016_07)s, %(2016_08)s, %(2016_09)s, %(2016_10)s, %(2016_11)s, %(2016_12)s, %(2017_01)s, %(2017_02)s, %(2017_03)s, %(2017_04)s, %(2017_05)s, %(2017_06)s, %(2017_07)s, %(2017_08)s, %(2017_09)s, %(2017_10)s, %(2017_11)s, %(2017_12)s, %(2018_01)s, %(2018_02)s, %(2018_03)s, %(2018_04)s, %(2018_05)s, %(2018_06)s, %(2018_07)s, %(2018_08)s, %(2018_09)s, %(2018_10)s, %(2018_11)s, %(2018_12)s, %(2019_01)s, %(2019_02)s, %(2019_03)s, %(2019_04)s, %(2019_05)s, %(2019_06)s, %(2019_07)s, %(2019_08)s, %(2019_09)s, %(2019_10)s, %(2019_11)s, %(2019_12)s, %(2020_01)s, %(2020_02)s, %(2020_03)s, %(2020_04)s, %(2020_05)s, %(2020_06)s, %(2020_07)s, %(2020_08)s, %(2020_09)s, %(2020_10)s, %(2020_11)s, %(2020_12)s, %(2021_01)s, %(2021_02)s, %(2021_03)s, %(2021_04)s, %(2021_05)s, %(2021_06)s, %(2021_07)s, %(2021_08)s, %(2021_09)s, %(2021_10)s, %(2021_11)s, %(2021_12)s)
2022-12-22 18:07:16,537 INFO sqlalchemy.engine.Engine [generated in 0.14422s] ({'id_gare': '87313759', 'code_postal': '60220', 'nom_gare': 'Abancourt', 'region': '60', '2016_01': 3425, '2016_02': 3425, '2016_03': 3425, '2016_04': 3425, '2016_05': 3425, '2016_06': 3425, '2016_07': 3425, '2016_08': 3425, '2016_09': 3425, '2016_10': 3425, '2016_11': 3425, '2016_12': 3425, '2017_01': 3647, '2017_02': 3647, '2017_03': 3647, '2017_04': 3647, '2017_05': 3647, '2017_06': 3647, '2017_07': 3647, '2017_08': 3647, '2017_09': 3647, '2017_10': 3647, '2017_11': 3647, '2017_12': 3647, '2018_01': 3352, '2018_02': 3019, '2018_03': 3350, '2018_04': 2965, '2018_05': 3008, '2018_06': 3140, '2018_07': 3312, '2018_08': 3235, '2018_09': 3172, '2018_10': 3167, '2018_11': 3352, '2018_12': 3168, '2019_01': 3255, '2019_02': 2921, '2019_03': 3237, '2019_04': 3061, '2019_05': 3241, '2019_06': 3204, '2019_07': 3374, '2019_08': 2996, '2019_09': 3103, '2019_10': 3120, '2019_11': 2906, '2019_12': 1269, '2020_01': 1576, '2020_02': 1930, '2020_03': 1189, '2020_04': 0, '2020_05': 579, '2020_06': 1253, '2020_07': 1869, '2020_08': 1890, '2020_09': 1920, '2020_10': 1314, '2020_11': 458, '2020_12': 1426, '2021_01': 2892, '2021_02': 2534, '2021_03': 2653, '2021_04': 2875, '2021_05': 2969, '2021_06': 3081, '2021_07': 3485, '2021_08': 3526, '2021_09': 3287, '2021_10': 3377, '2021_11': 3226, '2021_12': 3588}, {'id_gare': '87381657', 'code_postal': '78260', 'nom_gare': 'Achères Ville', 'region': '78', '2016_01': 287881, '2016_02': 287881, '2016_03': 287881, '2016_04': 287881, '2016_05': 287881, '2016_06': 287881, '2016_07': 287881, '2016_08': 287881, '2016_09': 287881, '2016_10': 287881, '2016_11': 287881, '2016_12': 287881, '2017_01': 291468, '2017_02': 291468, '2017_03': 291468, '2017_04': 291468, '2017_05': 291468, '2017_06': 291468, '2017_07': 291468, '2017_08': 291468, '2017_09': 291468, '2017_10': 291468, '2017_11': 291468, '2017_12': 291468, '2018_01': 289905, '2018_02': 261070, '2018_03': 289710, '2018_04': 256419, '2018_05': 260095, '2018_06': 271522, '2018_07': 286436, '2018_08': 279745, '2018_09': 274328, '2018_10': 273893, '2018_11': 289872, '2018_12': 273938, '2019_01': 264473, '2019_02': 237371, '2019_03': 262977, '2019_04': 248704, '2019_05': 263353, '2019_06': 260322, '2019_07': 274110, '2019_08': 243413, '2019_09': 252104, '2019_10': 253464, '2019_11': 236134, '2019_12': 103072, '2020_01': 77721, '2020_02': 95162, '2020_03': 58633, '2020_04': 0, '2020_05': 28571, '2020_06': 61810, '2020_07': 92144, '2020_08': 93208, '2020_09': 94664, '2020_10': 64787, '2020_11': 22575, '2020_12': 70314, '2021_01': 136789, '2021_02': 119858, '2021_03': 125477, '2021_04': 135983, '2021_05': 140449, '2021_06': 145716, '2021_07': 164852, '2021_08': 166783, '2021_09': 155467, '2021_10': 159727, '2021_11': 152593, '2021_12': 169684}, {'id_gare': '87781278', 'code_postal': '34300', 'nom_gare': 'Agde', 'region': '34', '2016_01': 55055, '2016_02': 55055, '2016_03': 55055, '2016_04': 55055, '2016_05': 55055, '2016_06': 55055, '2016_07': 55055, '2016_08': 55055, '2016_09': 55055, '2016_10': 55055, '2016_11': 55055, '2016_12': 55055, '2017_01': 58091, '2017_02': 58091, '2017_03': 58091, '2017_04': 58091, '2017_05': 58091, '2017_06': 58091, '2017_07': 58091, '2017_08': 58091, '2017_09': 58091, '2017_10': 58091, '2017_11': 58091, '2017_12': 58091, '2018_01': 49025, '2018_02': 44149, '2018_03': 48992, '2018_04': 43362, '2018_05': 43984, '2018_06': 45916, '2018_07': 48438, '2018_08': 47307, '2018_09': 46391, '2018_10': 46317, '2018_11': 49019, '2018_12': 46325, '2019_01': 41353, '2019_02': 37115, '2019_03': 41119, '2019_04': 38887, '2019_05': 41178, '2019_06': 40704, '2019_07': 42860, '2019_08': 38060, '2019_09': 39419, '2019_10': 39632, '2019_11': 36922, '2019_12': 16116, '2020_01': 19187, '2020_02': 23493, '2020_03': 14475, '2020_04': 0, '2020_05': 7053, '2020_06': 15259, '2020_07': 22748, '2020_08': 23010, '2020_09': 23370, '2020_10': 15994, '2020_11': 5573, '2020_12': 17359, '2021_01': 31324, '2021_02': 27447, '2021_03': 28733, '2021_04': 31139, '2021_05': 32162, '2021_06': 33368, '2021_07': 37750, '2021_08': 38192, '2021_09': 35601, '2021_10': 36576, '2021_11': 34943, '2021_12': 38856}, {'id_gare': '87741421', 'code_postal': '73610', 'nom_gare': 'Aiguebelette-le-Lac', 'region': '73', '2016_01': 326, '2016_02': 326, '2016_03': 326, '2016_04': 326, '2016_05': 326, '2016_06': 326, '2016_07': 326, '2016_08': 326, '2016_09': 326, '2016_10': 326, '2016_11': 326, '2016_12': 326, '2017_01': 260, '2017_02': 260, '2017_03': 260, '2017_04': 260, '2017_05': 260, '2017_06': 260, '2017_07': 260, '2017_08': 260, '2017_09': 260, '2017_10': 260, '2017_11': 260, '2017_12': 260, '2018_01': 211, '2018_02': 190, '2018_03': 211, '2018_04': 187, '2018_05': 190, '2018_06': 198, '2018_07': 209, '2018_08': 204, '2018_09': 200, '2018_10': 200, '2018_11': 211, '2018_12': 200, '2019_01': 363, '2019_02': 325, '2019_03': 360, '2019_04': 341, '2019_05': 361, '2019_06': 357, '2019_07': 376, '2019_08': 334, '2019_09': 346, '2019_10': 347, '2019_11': 324, '2019_12': 141, '2020_01': 142, '2020_02': 174, '2020_03': 107, '2020_04': 0, '2020_05': 52, '2020_06': 113, '2020_07': 168, '2020_08': 170, '2020_09': 173, '2020_10': 118, '2020_11': 41, '2020_12': 129, '2021_01': 204, '2021_02': 179, '2021_03': 187, '2021_04': 203, '2021_05': 210, '2021_06': 218, '2021_07': 246, '2021_08': 249, '2021_09': 232, '2021_10': 238, '2021_11': 228, '2021_12': 253}, {'id_gare': '87586693', 'code_postal': '47190', 'nom_gare': 'Aiguillon', 'region': '47', '2016_01': 7516, '2016_02': 7516, '2016_03': 7516, '2016_04': 7516, '2016_05': 7516, '2016_06': 7516, '2016_07': 7516, '2016_08': 7516, '2016_09': 7516, '2016_10': 7516, '2016_11': 7516, '2016_12': 7516, '2017_01': 8076, '2017_02': 8076, '2017_03': 8076, '2017_04': 8076, '2017_05': 8076, '2017_06': 8076, '2017_07': 8076, '2017_08': 8076, '2017_09': 8076, '2017_10': 8076, '2017_11': 8076, '2017_12': 8076, '2018_01': 7724, '2018_02': 6956, '2018_03': 7719, '2018_04': 6832, '2018_05': 6930, '2018_06': 7234, '2018_07': 7632, '2018_08': 7453, '2018_09': 7309, '2018_10': 7298, '2018_11': 7723, '2018_12': 7299, '2019_01': 8319, '2019_02': 7467, '2019_03': 8272, '2019_04': 7823, '2019_05': 8284, '2019_06': 8189, '2019_07': 8622, '2019_08': 7657, '2019_09': 7930, '2019_10': 7973, '2019_11': 7428, '2019_12': 3242, '2020_01': 4360, '2020_02': 5338, '2020_03': 3289, '2020_04': 0, '2020_05': 1603, '2020_06': 3467, '2020_07': 5169, '2020_08': 5229, '2020_09': 5310, '2020_10': 3634, '2020_11': 1266, '2020_12': 3944, '2021_01': 5960, '2021_02': 5222, '2021_03': 5467, '2021_04': 5924, '2021_05': 6119, '2021_06': 6348, '2021_07': 7182, '2021_08': 7266, '2021_09': 6773, '2021_10': 6959, '2021_11': 6648, '2021_12': 7393}, {'id_gare': '87185629', 'code_postal': '70320', 'nom_gare': 'Aillevillers', 'region': '70', '2016_01': 495, '2016_02': 495, '2016_03': 495, '2016_04': 495, '2016_05': 495, '2016_06': 495, '2016_07': 495, '2016_08': 495, '2016_09': 495, '2016_10': 495, '2016_11': 495, '2016_12': 495, '2017_01': 466, '2017_02': 466, '2017_03': 466, '2017_04': 466, '2017_05': 466, '2017_06': 466, '2017_07': 466, '2017_08': 466, '2017_09': 466, '2017_10': 466, '2017_11': 466, '2017_12': 466, '2018_01': 369, '2018_02': 332, '2018_03': 369, '2018_04': 326, '2018_05': 331, '2018_06': 346, '2018_07': 365, '2018_08': 356, '2018_09': 349, '2018_10': 349, '2018_11': 369, '2018_12': 349, '2019_01': 560, '2019_02': 503, '2019_03': 557, '2019_04': 527, '2019_05': 558, '2019_06': 552, '2019_07': 581, '2019_08': 516, '2019_09': 534, '2019_10': 537, '2019_11': 500, '2019_12': 218, '2020_01': 420, '2020_02': 515, '2020_03': 317, '2020_04': 0, '2020_05': 155, '2020_06': 334, '2020_07': 498, '2020_08': 504, '2020_09': 512, '2020_10': 350, '2020_11': 122, '2020_12': 380, '2021_01': 319, '2021_02': 280, '2021_03': 293, '2021_04': 317, '2021_05': 328, '2021_06': 340, '2021_07': 384, '2021_08': 389, '2021_09': 363, '2021_10': 373, '2021_11': 356, '2021_12': 396}, {'id_gare': '87722744', 'code_postal': '69340', 'nom_gare': 'Alaï', 'region': '69', '2016_01': 2328, '2016_02': 2328, '2016_03': 2328, '2016_04': 2328, '2016_05': 2328, '2016_06': 2328, '2016_07': 2328, '2016_08': 2328, '2016_09': 2328, '2016_10': 2328, '2016_11': 2328, '2016_12': 2328, '2017_01': 2977, '2017_02': 2977, '2017_03': 2977, '2017_04': 2977, '2017_05': 2977, '2017_06': 2977, '2017_07': 2977, '2017_08': 2977, '2017_09': 2977, '2017_10': 2977, '2017_11': 2977, '2017_12': 2977, '2018_01': 3086, '2018_02': 2779, '2018_03': 3084, '2018_04': 2729, '2018_05': 2769, '2018_06': 2890, '2018_07': 3049, '2018_08': 2978, '2018_09': 2920, '2018_10': 2915, '2018_11': 3086, '2018_12': 2916, '2019_01': 2886, '2019_02': 2590, '2019_03': 2869, '2019_04': 2713, '2019_05': 2873, '2019_06': 2840, '2019_07': 2991, '2019_08': 2656, '2019_09': 2751, '2019_10': 2765, '2019_11': 2576, '2019_12': 1125, '2020_01': 1591, '2020_02': 1948, '2020_03': 1200, '2020_04': 0, '2020_05': 585, '2020_06': 1265, '2020_07': 1886, '2020_08': 1908, '2020_09': 1938, '2020_10': 1326, '2020_11': 462, '2020_12': 1439, '2021_01': 2117, '2021_02': 1855, '2021_03': 1942, '2021_04': 2104, '2021_05': 2173, '2021_06': 2255, '2021_07': 2551, '2021_08': 2581, '2021_09': 2406, '2021_10': 2472, '2021_11': 2361, '2021_12': 2626}, {'id_gare': '87313072', 'code_postal': '80300', 'nom_gare': 'Albert', 'region': '80', '2016_01': 37988, '2016_02': 37988, '2016_03': 37988, '2016_04': 37988, '2016_05': 37988, '2016_06': 37988, '2016_07': 37988, '2016_08': 37988, '2016_09': 37988, '2016_10': 37988, '2016_11': 37988, '2016_12': 37988, '2017_01': 39289, '2017_02': 39289, '2017_03': 39289, '2017_04': 39289, '2017_05': 39289, '2017_06': 39289, '2017_07': 39289, '2017_08': 39289, '2017_09': 39289, '2017_10': 39289, '2017_11': 39289, '2017_12': 39289, '2018_01': 37331, '2018_02': 33618, '2018_03': 37306, '2018_04': 33019, '2018_05': 33492, '2018_06': 34964, '2018_07': 36884, '2018_08': 36023, '2018_09': 35325, '2018_10': 35269, '2018_11': 37327, '2018_12': 35275, '2019_01': 36124, '2019_02': 32422, '2019_03': 35920, '2019_04': 33970, '2019_05': 35971, '2019_06': 35557, '2019_07': 37440, '2019_08': 33248, '2019_09': 34435, '2019_10': 34620, '2019_11': 32253, '2019_12': 14079, '2020_01': 16909, '2020_02': 20704, '2020_03': 12756, '2020_04': 0, '2020_05': 6216, '2020_06': 13447, '2020_07': 20047, '2020_08': 20279, '2020_09': 20595, '2020_10': 14095, '2020_11': 4911, '2020_12': 15298, '2021_01': 23525, '2021_02': 20614, '2021_03': 21580, '2021_04': 23387, '2021_05': 24155, '2021_06': 25061, '2021_07': 28352, '2021_08': 28684, '2021_09': 26738, '2021_10': 27470, '2021_11': 26244, '2021_12': 29183}  ... displaying 10 of 2970 total bound parameter sets ...  {'id_gare': '87191304', 'code_postal': '57110', 'nom_gare': 'Yutz', 'region': '57', '2016_01': 161, '2016_02': 161, '2016_03': 161, '2016_04': 161, '2016_05': 161, '2016_06': 161, '2016_07': 161, '2016_08': 161, '2016_09': 161, '2016_10': 161, '2016_11': 161, '2016_12': 161, '2017_01': 108, '2017_02': 108, '2017_03': 108, '2017_04': 108, '2017_05': 108, '2017_06': 108, '2017_07': 108, '2017_08': 108, '2017_09': 108, '2017_10': 108, '2017_11': 108, '2017_12': 108, '2018_01': 124, '2018_02': 111, '2018_03': 124, '2018_04': 109, '2018_05': 111, '2018_06': 116, '2018_07': 122, '2018_08': 119, '2018_09': 117, '2018_10': 117, '2018_11': 124, '2018_12': 117, '2019_01': 90, '2019_02': 81, '2019_03': 90, '2019_04': 85, '2019_05': 90, '2019_06': 89, '2019_07': 94, '2019_08': 83, '2019_09': 86, '2019_10': 87, '2019_11': 81, '2019_12': 35, '2020_01': 39, '2020_02': 48, '2020_03': 30, '2020_04': 0, '2020_05': 14, '2020_06': 31, '2020_07': 46, '2020_08': 47, '2020_09': 48, '2020_10': 33, '2020_11': 11, '2020_12': 35, '2021_01': 49, '2021_02': 43, '2021_03': 45, '2021_04': 48, '2021_05': 50, '2021_06': 52, '2021_07': 59, '2021_08': 59, '2021_09': 55, '2021_10': 57, '2021_11': 54, '2021_12': 60}, {'id_gare': '87413385', 'code_postal': '76190', 'nom_gare': 'Yvetot', 'region': '76', '2016_01': 75770, '2016_02': 75770, '2016_03': 75770, '2016_04': 75770, '2016_05': 75770, '2016_06': 75770, '2016_07': 75770, '2016_08': 75770, '2016_09': 75770, '2016_10': 75770, '2016_11': 75770, '2016_12': 75770, '2017_01': 76676, '2017_02': 76676, '2017_03': 76676, '2017_04': 76676, '2017_05': 76676, '2017_06': 76676, '2017_07': 76676, '2017_08': 76676, '2017_09': 76676, '2017_10': 76676, '2017_11': 76676, '2017_12': 76676, '2018_01': 75244, '2018_02': 67760, '2018_03': 75193, '2018_04': 66553, '2018_05': 67507, '2018_06': 70473, '2018_07': 74344, '2018_08': 72607, '2018_09': 71201, '2018_10': 71088, '2018_11': 75236, '2018_12': 71100, '2019_01': 76040, '2019_02': 68248, '2019_03': 75610, '2019_04': 71507, '2019_05': 75718, '2019_06': 74847, '2019_07': 78811, '2019_08': 69985, '2019_09': 72484, '2019_10': 72875, '2019_11': 67893, '2019_12': 29635, '2020_01': 33451, '2020_02': 40958, '2020_03': 25236, '2020_04': 0, '2020_05': 12297, '2020_06': 26603, '2020_07': 39659, '2020_08': 40117, '2020_09': 40743, '2020_10': 27884, '2020_11': 9716, '2020_12': 30263, '2021_01': 43963, '2021_02': 38522, '2021_03': 40328, '2021_04': 43704, '2021_05': 45139, '2021_06': 46832, '2021_07': 52982, '2021_08': 53603, '2021_09': 49966, '2021_10': 51335, '2021_11': 49043, '2021_12': 54535})
2022-12-22 18:07:18,450 INFO sqlalchemy.engine.Engine COMMIT
2022-12-22 18:07:18,470 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `sncf_meteo`
2022-12-22 18:07:18,471 INFO sqlalchemy.engine.Engine [raw sql] {}

2970